a {
    text-decoration: none !important;
    color: black !important;
}
.max_height{
    max-height: 100px;
}
.searchwidth {
    width: 400px !important;
}

.serach_icon {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 32px;
    background: #10637D;
    border-radius: 25px;
}

.person_image img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.font_style {
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;
}

@media screen and (max-width: 767px) {

    .searchwidth {
        width: 280px !important;
    }

    .max_height {
        max-height: 150px !important;
        align-items: center;
    }
}